.structure {
    position: absolute;
}
    
.house {
    background-image: url('../img/house.png');
}

.barn {
    background-image: url('../img/barn.png');
}

.forest {
    background-image: url('../img/forest.png');
}

#field {
    width: 500px;
    height: 500px;    
    position: relative;
    float: left;
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1000;
    }
}

.data-dump {
    display: block;
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 400px;
    border-left: 1px solid black;
}