.structure {
    width: 100px;
    height: 100px;
    background-size: 100px;
    position: relative;
    float: left;
    margin: 10px;
}
    .house {
        background-image: url('../img/house.png');
    }
    .barn {
        background-image: url('../img/barn.png');
    }


.forest {
    background-image: url('../img/forest.png');
}


#field {
width: 500px;
height: 500px;    
}
