.structure {
    width: 50px;
    height: 50px;
    background-size: 50px;
    position: absolute;
}
    
    
.house {
    background-image: url('../img/house.png');
}

.barn {
    background-image: url('../img/barn.png');
}

.forest {
    background-image: url('../img/forest.png');
}

#field {
    width: 500px;
    height: 500px;    
    position: relative;
}
